/venv/
.env
/notebook/

# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo

# Ignore other common files/folders
*.log
*.bak
*.swp
*.idea/
.vscode/